<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>q</string>
	<key>ordering</key>
	<array>
		<string>27912bef-480e-41e4-b9c7-3bd01857aba6</string>
	</array>
	<key>uuid</key>
	<string>51867116-a46f-42e3-9f33-a82bd1965301</string>
</dict>
</plist>
